<div class="container">
    <header>
        <div class="img-header">
            <img src="../../../assets/img/logo.png">
        </div>
        
        <ul>
            <li><a href="#guia-incidentes">Incidentes</a></li>
            <li><a href="#guia-analise">Análises</a></li>
            <li><a href="#guia-noticias">Notícias</a></li>
        </ul>

        <div class="user">
            <mat-icon class="person-icon" style="font-size: 50px" aria-hidden="false" aria-label="edit icon">person</mat-icon>
        </div>
    </header>
</div>
