<section>
    <div class="content">
        <p>Painel de Informações</p>
        <div class="container">
            <div class="container-options">
                <div class="box box-1">
        
                </div>
                <div class="box box-2">
                    
                </div>
                <div class="box box-3">
                    
                </div>
            </div>
            <div class="container-panel">
        
            </div>
        </div>
    </div>
    
</section>
