<section>
    <div class="container">
        <div class="intro" fxLayout="column" fxLayoutAlign="center center">
            <p class="title">Bem Vindo</p>
            <p class="text" fxLayout="row" fxLayoutAlign="center center">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
                make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. When an unknown printer took a galley of type and scrambled it to 
                make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. 
            </p>
        </div>

        <div class="tabs">
            <p class="title-2">Guias</p>
            <div class="box" fxLayout="row" fxLayoutAlign="center center">
                <div class="box-1">
                    <p class="tab-title">Incidentes</p>
                    <p class="tab-desc">A guia de incidentes permite a visualização, edição e exclusão dos incidentes cadastrados no app</p>
                </div>
                <div class="box-2">
                    <p class="tab-title">Análises</p>
                    <p class="tab-desc">A guia de análise exibe informações referentes aos dados cadastrados no banco</p>
                </div>
                <div class="box-3">
                    <p class="tab-title">Notícias</p>
                    <p class="tab-desc">A guia de notícias permite a criação, visualização, edição e remoção de notícias do portal</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
