<div fxLayoutAlign="center center" fxLayout="column">
    <h1 mat-dialog-title>Atender incidente</h1>

    <form class="form" [formGroup]="form">
        <div class="row" fxLayout="row"  fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <input matInput type="text" formControlName="descricao" readonly/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Data de Criação</mat-label>
                <input matInput type="text" formControlName="data_insercao" placeholder="dd/mm/yyyy" readonly/>
            </mat-form-field>
        </div>
        
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
            <div>
                <div class="box">
                    <img src="{{imagem}}" class="img">
                </div>
            </div>
            <div fxLayout="column" >
                <mat-form-field>
                    <mat-label>Usuário</mat-label>
                    <input matInput type="text" formControlName="usuario_app" readonly/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Endereço</mat-label>
                    <input matInput type="text" formControlName="endereco" readonly/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <input matInput type="text" formControlName="tipo_comunique" readonly/>
                </mat-form-field>
            </div>
        </div>

        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Solução</mat-label>
                <input matInput type="text" formControlName="solucao" readonly/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" required>
                    <mat-option value="Cadastrado">Cadastrado</mat-option>
                    <mat-option value="Atendido">Em Atendimento</mat-option>
                    <mat-option value="Concluido">Concluído</mat-option>
                    <mat-option value="Cancelado">Cancelado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Parecer</mat-label>
                <textarea matInput type="text" formControlName="parecer"></textarea>
            </mat-form-field>
            <div mat-dialog-actions>
                <!-- <button mat-button (click)="closeDialog()">Fechar</button> -->
                <button class="btn-close" mat-raised-button color="primary" (click)="closeDialog()">
                    <mat-icon>close</mat-icon>
                </button>
                <button class="btn-edit" mat-raised-button color="primary" (click)="editItem()">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>