.form {
    width: 500px;
}

.row {
    padding: 10px;
}

.btn-close {
    background-color: red;
}

.btn-edit {
    background-color: #087CA7;
    margin-left: 5px;
}

.box, .img {
    width: 175px;
    height: 175px;
    // background-color: #087CA7;
}